<p>Nombre del empleado: {{ nombre }}</p>

<p>Apellido del empleado: {{ apellido }}</p>

<p>Edad del empleado: {{ edad<18 ? "Es menor de edad" : "Es mayor de edad" }}</p>

<p>Empresa del empleado. {{ empresa.value }}</p>

<!-- hay una property binding en disabled = false, se remplazo por [disabled] = valor, valor se toma desde el componente-->
Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled] = "valorProperty"/>

<br/>
<br/>

(Property Binding) Registrado: <input type="checkbox" id="registro" [checked] = "userRegister"/>

{{ getRegisterUser() }}
<br/>

<!-- Event Binding -->

{{ textoRegistro }}
<br/>
<!-- El objeto evento se captura asi: $event-->
(Event Binding) Registrado:<input type="radio" name="nRegistro" value="si" id="registro1" [checked]="userRegister" (click)="setUserRegister($event)"/>
<br/>
(Event Binding) No Registrdo:<input type="radio" name="nRegistro" value="no" (click)="setUserRegister($event)"/>



